@font-face {
  font-family: 'Ownglyph_ryuttung-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

body {
  overflow: hidden !important;
}
